.background {
    width: 100%;
    min-height: 100svh;
    background-color: #FFFEE9;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 2rem;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    gap: 10px;

    width: min(100%,500px);
    height: 500px;

    overflow-y: scroll;
}

.image {

    position: relative;

    height: 500px;
    aspect-ratio: 1/1.5;
    object-fit: contain;

    overflow: hidden;
    border-top-right-radius: 67% 45%;
    border-top-left-radius: 67% 45%;

    box-sizing: border-box;
    border: 20px solid #963A2F;
    box-shadow: 10px -10px #D28A53;
}

.title {
    font-size: 75px;
    color: #963A2F;
    font-weight: 700;
}

.info {
    font-size: 30px;
    color: #963A2F;
    font-weight: 400;
}

.description {
    font-size: 20px;
    color: #963A2F;
    font-weight: 200;
    overflow-x: scroll;
}


.icons {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 20px
}

.icon {
    width: 50px;
    aspect-ratio: 1/1;
}

@media (max-width: 768px) {
    .background {
      flex-direction: column;
    }
  
    .container {
      align-items: center;
      height: auto;
      overflow-y: auto;
    }
  
    .title {
      font-size: 48px;
    }
  
    .description {
      font-size: 28px;
    }

    .info {
        display: none;
    }

    .image {
      margin-top: 20px;
    }
  }
